.ajax-loading-overlay{
	display:none;
	position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000;
	background:#FFF url(images/loader.gif) center no-repeat;    
    opacity: 0.5;
}

.row{
	margin:0 !important;
}
[class*=col-md]:first-child{
	padding-left:0px;
}
[class*=col-md]:last-child{
	padding-right:0px;
}

@media (max-width: 768px) {
	[class*=col-md]{
		padding-right:0px !important;
		padding-left:0px !important;
	}
}

  /* Botón propio
-------------------------------------------------- */
/* Redefine los estilos de .btn */
/* Modificar el texto y el color de fondo en los tres estados
   principales del botón: default, hover y active. */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3EB6BB;
}
 
/* Aplicar gradientes de colores */
/* Nota: no se muestran aquí todos los gradientes que tendrás que
   definir para los diferentes navegadores. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
  ...
}

.btn-ttc-fucsia,
.btn-ttc-fucsia:hover,
.btn-ttc-fucsia:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #C8175E;
}
 
/* Aplicar gradientes de colores */
/* Nota: no se muestran aquí todos los gradientes que tendrás que
   definir para los diferentes navegadores. */
.btn-ttc-fucsia {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
  ...
}

/* Estilos del estado :hover del botón */
/* Uno de los estilos más sencillos y eficaces para el estado :hover
   consiste en subir hacia arriba ligeramente la imagen de fondo del
   botón, pero puedes definir otros estilos adicionales si quieres. */

/* GENERALES */
html, body {height:100%; cursor:default;}
.underline {text-decoration:underline;}

.margin-bottom-x5 {margin-bottom:5px !important}
.margin-bottom-x10 {margin-bottom:10px !important;}
.margin-bottom-x15 {margin-bottom:15px !important;}
.margin-bottom-x20 {margin-bottom:20px !important;}
.margin-bottom-x40 {margin-bottom:40px !important;}
.margin-bottom-x60 {margin-bottom:60px !important;}
.margin-bottom-x70 {margin-bottom:70px !important;}

.margin-bottom-inline-x10 {margin-bottom:10px !important;}

.margin-top-x5 {margin-top:5px;}
.margin-top-x10 {margin-top:10px;}
.margin-top-x15 {margin-top:15px;}			
.margin-top-x20 {margin-top:20px;}	
.margin-top-x25 {margin-top:25px;}
.margin-top-x30 {margin-top:30px;}	
.margin-top-x35 {margin-top:35px;}	
.margin-top-x40 {margin-top:40px;}	
.margin-leftx20 {margin-left:20px !important;}

.line-separate-basic {width:100%; height:1px; display:block; margin:0 auto; background:#e0e4e1;}
.line-false {width:100%; height:1px; display:block; background:#ddd;}

.margin-height-x15 {margin:15px 0}
.margin-height-x20 {margin:20px 0 !important}
.padding-x10 {padding:10px;}
.padding-x15 {padding:15px;}
.margin-x15 {margin:15px;}
.margin-width-x15 {margin:0 15px;}
.padding-top-x5 {padding-top:5px;}
.padding-top-x10 {padding-top:10px;}
.padding-bottom-x15 {padding-bottom:15px;}
.padding-bottom-x30 {padding-bottom:30px;}
.padding-x10-5 {padding:10px 5px;}
.padding-height-x15 {padding:15px 0}
.padding-width-x15 {padding:0 15px}
.margin-height-x10 {margin:10px 0}

.padding-bottom-x5 {padding-bottom:5px !important;}

.no-margin-top {margin-top:0 !important;}
.no-margin-top-x5 {margin-top:-5px;}
.no-margin-bottom {margin-bottom:0 !important;}

.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.text-bold {font-weight:bold !important;}
.text-bold td {font-weight:bold !important;}
.color-text-azul {color:#0065be !important;}
.color-text-rojo {color:#a94442 !important;}

.control-label-level {margin:5px 0 0 0; font-size:13px; color:#0065be;}
.question-label {color: #0065be; white-space: pre-wrap;}

.border-right {border-right:1px solid #e0e4e1 !important;}

.panel-default > .sub-panel-heading {
	background: transparent linear-gradient(to bottom, #89D1F3 0%, #009DE5 100%) repeat scroll 0% 0% !important;
	}
  
.background-white {background:#fff !important;}
.background-gray {background:#f4f7f5 !important;}

.border-top {border-top:1px solid #ddd !important;}

.control-label span {color:#e50b6f;}
.container-text-uppercase .form-control {text-transform:uppercase !important;}

.modal-height-xs {margin-top:2% !important;}	
.modal-height-sm {margin-top:5% !important;}		
.modal-height-md {margin-top:8% !important;}	

	
@media (max-width: 991px) {
	.margin-bottom-inline-md-x15 {margin-bottom:15px !important}	
	.margin-bottom-inline-x10 {margin-bottom:0 !important;}
	}	
	
@media (max-width: 768px) {
	.clear-checkbox > input[type="checkbox"] {
		margin-left:20px !important;
		}	
}
	
@media (max-width: 767px) {
		
	.margin-top-x10-md {
		display:block;
		margin-top:10px !important;
		}
		
	.margin-bottom-x10-hidden {
		margin-bottom:10px;
		}
}

/* HEADER */
header {margin-bottom:15px;}
.header-layouts-login,
.header-layouts {
	display:none;
	}
	
.header-layouts-login li.color-1,
.header-layouts-login li.color-2,
.header-layouts-login li.color-3,
.header-layouts-login li.color-4,
.header-layouts-login li.color-5,
.header-layouts-login li.color-6,	
.header-layouts li.color-1,
.header-layouts li.color-2,
.header-layouts li.color-3,
.header-layouts li.color-4,
.header-layouts li.color-5,
.header-layouts li.color-6 {
	width:16.66666666666667%;
	height:10px;
	display:block;
	float:left;
	}

.header-layouts-login li.color-1,
.header-layouts-login li.color-2,
.header-layouts-login li.color-3,
.header-layouts-login li.color-4,
.header-layouts-login li.color-5,
.header-layouts-login li.color-6 {
	height:8px;
	}	

.header-layouts-login li.color-1,	
.header-layouts li.color-1,
.footer-user li.color-1 {
	background:#02428c;
	}	
	
.header-layouts-login li.color-2,	
.header-layouts li.color-2,
.footer-user li.color-2 {
	background:#0051a3;
	}	

.header-layouts-login li.color-3,	
.header-layouts li.color-3,
.footer-user li.color-3 {
	background:#007dc7;
	}	
	
.header-layouts-login li.color-4,
.header-layouts li.color-4,
.footer-user li.color-4 {
	background:#1799da;
	}	
	
.header-layouts-login li.color-5,	
.header-layouts li.color-5,
.footer-user li.color-5 {
	background:#61c2f0;
	}	
	
.header-layouts-login li.color-6,	
.header-layouts li.color-6,
.footer-user li.color-6 {
	background:#9dd7f6;
	}							

.container-nav-right {
	background:#f4f7f5;
	border:1px solid #d4e1ed;
	margin:15px 20px 25px 20px;
	padding:0 10px !important;
	float:left !important;
	}
	
.container-nav-right .btn-secundary {
	margin:11px 0 0 20px;
	}	
	
.container-nav-right .btn-secundary > a {
	color:#fff;
	text-decoration:none;
	}	
.color-fuchsia {
	color:#c4136c !important;
	}	

.bloque-referencia {
	width:60%;
	margin:17px 10px 0 0;
	float:right;
	}	
		
.bloque-referencia h1 {
	margin-top:0;
	margin-right:5px;
	margin-bottom:4px;
	}		
.bloque-referencia-user {
	background: linear-gradient(#fdfefe, #f5f7f8);
	margin:5px 0;
	padding:0;
	list-style:none !important;
	border:1px solid #dde3ea;
	border-radius:6px;
	float:right;
	}	
.bloque-referencia-user > li {
	font-family: Stag-Sans-Light, Arial, sans-serif; 
	font-size:13px;
	color:#999;
	padding:10px 15px 8px 15px;
	border-right:1px solid #e8edf4;
	border-left:1px solid #fff;
	float:left;
	}	
.bloque-referencia-user > li > span {
	width: 100%;
    line-height: 14px;
    color: #00aeeb;
    font-weight: bold;
    display: block;
	}
.bloque-referencia-user > li:first-child {
	border-left:0;
	}		
.bloque-referencia-user > li:last-child {
	border-right:0;
	}	
/* BODY */
.container-section-primary {
	background:#f4f7f5;
	padding:0 20px;
	border:1px solid #dcdcdc;
	border-radius:5px;
	}
.container-section-secundary {
	background:#fff;
	border:1px solid #dcdcdc;
	border-radius:5px;
	}	
.container-section-general {
	padding:24px;
	padding-bottom:10px;
	border:1px solid #dcdcdc;
	border-radius:5px;
	}	
.container-section-general-grid {
	padding:10px 20px 0 20px !important;
	margin-bottom:20px;
	border:1px solid #dcdcdc;
	border-radius:5px;
	}		
.no-border-radius-top {
	border-radius:0 0 5px 5px;
	}	

.color-azul {color:#0065be; font-size:14px}
.botonDesplegar {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/botonDesplegar.png) no-repeat center;
	margin:-3px 5px 0 -3px;
	}
.botonPlegar {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/botonPlegar.png) no-repeat center;
	margin:-3px 5px 0 -3px;
	}	
.botonCalendario {
	width:16px;
	height:16px;
	display:block;
	background:url(../images/botonCalendary.png) no-repeat center;
	}	

.botonExportarPDF {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/iconoExportarPDF.png) no-repeat center;
	}
.botonExportarExcel {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/iconoExportarExcel.png) no-repeat center;
	}	
	
.panel-heading-table {
	width:100%;
	background:#e0e4e1;
	color:#333;
	font-size:15px;
	border-bottom:1px solid #ccc !important;
	box-shadow: 0 1px 0 rgba(255,255,255,1) !important;
	position:relative;
	}
	
.consolidated-detail tr td:first-child {
    background: #f8f8f5 !important;
    color: #666 !important;
    font-weight: bold !important;
    border-right: 1px solid #e0e4e1 !important;
}	
	
.consolidated-footer:last-child td, .consolidated-footer td {
    background: #f8f8f5 !important;
    color: #666 !important;
    font-weight: bold !important;
    border-left: 1px solid #e0e4e1 !important;
}	
	
.panel-heading-grid {
	width:100%;
	background:#e0e4e1;
	color:#333;
	font-size:15px;
	border-bottom:1px solid #ccc !important;
	box-shadow: 0 1px 0 rgba(255,255,255,1) !important;
	padding:5px 15px !important;
	position:relative;
	}	
.panel-heading-option {
	background:#e0e4e1;
	color:#333;
	font-size:14px;
	padding:7px 0 8px 20px;
	border-radius:5px;
	border:1px solid #e0e4e1; /*dcdcdc*/
	}	
/* TABS */
.tabs-right li {
	margin-left:5px;
	float:right !important;
	}
.panel-body-tabs {
	background:#fff !important;
	font-size:10px;
    color: rgba(85, 85, 85, 0.69);
	/*border-radius:0 5px 5px 5px;*/
	}
.tab-content-right {
	border-radius: 5px 0px 5px 5px !important;
	}	
.tab-content-left {
	border-radius: 0px 5px 5px 5px !important;
	}		
.tab-content {
	color:#00b0ee;
	}
.nav-pills > li > a {
	min-width:40px;
	font-size:12px;
	color:#00b0ee;
	border-radius:5px 5px 0 0;
	border:1px solid #dcdcdc;
	margin-bottom:-1px;
	padding:10px 20px !important;
	}
.nav-pills > li > a:hover {
	border-bottom:1px solid #fff;
	}	
.nav-pills > li > a:active {
	background:#fff !important;
	}	

.titulo-detalle {
	margin-top:5px;
	}	
	
/* bootstrap editado */
.tab-content {
	background:#f4f7f5;
	overflow:hidden;
	border:1px solid #dcdcdc;
	}
.nav-tabs > li:last-child {
	margin-right:0 !important;
	}		
	
/* ACORDEON */
.container-tabs-general {
	background:#f4f7f5;
	padding:10px;
	padding-bottom:10px;
	border:1px solid #ddd;
	border-top:0 none !important;
	}	
.contenedor-datos-complementarios {width:100%; float:right; padding:15px 0 15px 35px;}
.accordion-container {
    width:100%;
	margin:0 0 10px 0;
    clear:both;
	}
.accordion-container-general {
    width:100%;
    clear:both;
 
}	

.container-section-general > .accordion-container-general:first-child{
	border-top:1px solid #ddd !important;
}

.accordion-titulo {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #1799da !important;
    text-decoration: none !important;
	padding:0 0 0 22px;
	}
.accordion-titulo-general {
    position: relative;
    display: block;
    font-size: 12px;
    color: #1799da !important;
    text-decoration: none !important;
	padding: 10px 15px 10px 43px;
	background: #fff !important;
    border: 1px solid #ddd;
	border-top: 0 none;
	}
		
.accordion-titulo:hover,
.accordion-titulo.open,
.accordion-titulo-general:hover,
.accordion-titulo-general.open {
    color:#1799da !important;
	}
.accordion-titulo span.toggle-icon:before,
.accordion-titulo-general span.toggle-icon:before {
	width:16px;
	height:16px;
	display:block;
    background:url(../images/botonDesplegar.png) no-repeat;
	content:"";
	}
.accordion-titulo.open span.toggle-icon:before,
.accordion-titulo-general.open span.toggle-icon:before {
	width:16px;
	height:16px;
	display:block;
	background:url(../images/botonPlegar.png) no-repeat;
	content:"";
	}
.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 0;
    left: 0;
	}
.accordion-titulo-general span.toggle-icon {	
	position: absolute;
    top: 12px;
    left: 20px;
	}
.accordion-content,
.accordion-content-general {
    display: block;
/*     overflow: auto; */
	}
.accordion-content-general-hidden {
	display: none;
	}	
.accordion-content ul {
	margin:5px 0 0 0;
	padding:0;
	list-style:none;
	background:red;
	}	
.accordion-content ul li {
	width:100%;
	color:#666;
	float:left;
	}	
.accordion-content p{
    margin:0;
	}
	
.list-actions {
	width:140px;
    margin:0 auto;
    padding:0;
    list-style:none;
    margin-left:10%;
	}	
.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
	}	
.list-actions li {
    float:left;
	}
.list-actions li > button {
    padding: 0;
	}
.align-buttons-lg {
	margin:15px 0 0 0;
    float:right !important;
	}	
	
.container-disclaimer {
	width:100%;
	height:auto;
	display:block;
	background:#c7ecfb;
	border:1px solid #9fd9e8;
	border-radius:5px;
	margin:10px 0 0 0;
	}	
.container-disclaimer p {
	color:#666;
	padding:12px 10px 10px 40px;
	margin:0;
	}
.container-disclaimer p.icon-info {
	 background:url(../images/icon-info.png) no-repeat 17px 11px;
	}	
.icon-button {
    margin-left: 20px !important;
    padding: 0 5px 0 0 !important;
	}
.margin-left-x5 {margin-left:5px !important}	
	
.table-modal tbody tr td {
	background:#f8f8f5;
	}
.table-modal-header tbody tr:hover td,		
.table-modal tbody tr:hover td {
	background:#e5f6fd;
	color:#333;
	}

/*.table-validaions tr td {display:none;}	*/
		
.list-garantias-clientes {
	margin:0 0 15px 0;
	padding:0;
	list-style:none;
	}
.list-garantias-clientes li {
	color:#666;
	}		
.list-garantias-clientes li label {
	margin-bottom:0;
	}
.modal h6 {
	font-family:Stag-Sans-Light !important;
    color:#777 !important;
    margin-bottom:20px !important;
	}

.table-admin tbody tr td:first-child {border-right:1px solid #eee;}
.label-titulo {font-size:14px; font-weight:bold;}	
.label-detalle {font-size:14px;}		
	
.list-tipo-garantias {
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	}	
.list-tipo-garantias li {
	width:100%;
	background:#f8f8f5;
	border:1px solid #e2e2e2;
	border-top:0;
	padding:5px 0;
	float:left
	}	
.list-tipo-garantias li:first-child {
	border-top:1px solid #e2e2e2;
	}	
.list-tipo-garantias li button {
	width:100%;
	color:#666;
	text-align:left;
	white-space:pre;
	}
.list-tipo-garantias li:hover {
	background:#e5f6fd;
	}
.list-tipo-garantias li button:hover {
	color:#333;
	text-decoration:none;
	}	
	
/* FOOTER */
.footer-bbva {
	width:1200px;
	background:#fff;
	padding: 10px 0 8px 0;
	border-top:2px solid #89d1f3;
	position:fixed;
	bottom:0;
	left:50%;
	margin-left:-600px;
	z-index:10;
	}	
	
.footer-bbva p {
	font-size:11px !important;
	color:#666;
	}

.footer-user {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	background:#fff;
	position:fixed;
	bottom:0;
	left:0;
	}		
.footer-user li {
	width:100%;
	height:30px;
	display:block;
	background:red;
	}

.list-select-user {
	width:1080px;
	margin:7% auto;
	padding:0;
	list-style:none;
	}
.list-select-user li {
	width:320px;
	margin:20px;
	float:left;
	}
.list-select-user li a {
	width:100%;
	height:120px;
	display:block;
	font-family: Stag-Sans-Bold, Arial, sans-serif;
	font-size: 30px;
	line-height:37px;
	color:#00408e;
	text-align:center;
	background: linear-gradient(#fdfefe, #f5f7f8);
	border:1px solid #dde3ea;
	border-radius:5px;
	text-decoration:none;
	white-space:pre-line;
	padding:20px 0;
	}	
.list-select-user li a span {
	font-family: Stag-Sans-Light, Arial, sans-serif;
	color:#666;
	}
	
.logo-bbva {
	display:block;
	margin-left:10px;
	}	
.logo-bbva-login-responsive,	
.logo-bbva-responsive {
	display:none;
	margin:44px 0 32px 0;
	float:left;
	}	
.logo-xs {
	width:190px;
	height:auto;
	}	

@media (max-width: 1200px) {
.footer-bbva {
	width:100%;
	margin-left:0;
	left:0;
	}	
}
@media (max-width: 1000px) {
	.header-layouts {
		display:block;
		}
	.logo-bbva {
		display:none;
		}	
	.logo-bbva-responsive {
		display:block;
		height:auto;
		margin:44px 0 12px 0;
		margin-left:10px;
		}	
	
	.bloque-referencia {
		width:70%;
		}	
}

.rel{
	position:relative;
}

.cargando-lista{
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	background:#FFF url(images/loader.gif) center no-repeat;
	min-height: 42px;
	opacity:0.5;
}

@media (max-width: 850px) {
	.btn-off {
		padding: 0 10px 0 0 !important;
		width:30px !important;
		}	
	.btn-off span {
		display:none !important;
		}	
	
	.bloque-referencia-user > li {
		padding:10px 10px 8px 10px;
		}	
}

/* .seccion-error{ */
/* 	border:1px solid #ff9a9a; */
/* 	padding:10px 15px 0px 43px; */
/* } */
/* .seccion-error p{ */
/* 	color:#f3706e; */
/* } */

#contenedor-alerta{
    position: fixed;
    z-index: 999999999;
    width: 100%;
    visibility: hidden;
    top:0px;
   }
   
#alerta{
	width: 400px;
	margin: 0px auto;
	bottom: 0px;
	top: 0px;
	border-radius: 5px;
	padding: 10px 10px 10px 30px;
	margin-top: 10px;
	box-shadow: 0px 0px 10px #CCC;
	position: relative;
}
   
#alerta.alerta-advertencia{
	color: #434a58 !important;
	border: 1px solid #f2d7bb;    
	background-color: #fbf1d0;    
}
   
#alerta.alerta-error {
	color: #c4136c;
	background-color: #f7e9e9;
	border: 1px solid #f4ccdf;
}    

#alerta.alerta-exito{
	color: #44a718;
	background-color: #dfeed9;
	border: 1px solid #c5dfba;
}
   
#alerta .cerrar-alerta{
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 7px;
	right: 5px;
	text-align: center;
	line-height: 20px;
}

#alerta .alerta-titulo{
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	font-size:14px;	
}

#alerta .alerta-detalle{
	display:block;
}
  
#overlay-alerta{
	position:fixed;
	z-index:99999999;
}

.seccion-error,
.seccion-advertencia,
.seccion-exito{
	margin: 0px auto;
	border-radius: 5px;
	padding: 10px 10px 10px 30px;
	margin: 5px 0px;
	position: relative;	
}

.seccion-error{
	color: #c4136c;
	background-color: #f7e9e9;
	border: 1px solid #f4ccdf;
}

.seccion-advertencia{
    background-color: #fbf1d0;
    border: 1px solid #f2d7bb;
    color: #434a58;
}

.seccion-error span.mensaje{
	display:block;
}
.seccion-error.iconizado-24,
.seccion-advertencia.iconizado-24,
.seccion-exito.iconizado-24{
  padding: 18px 15px 15px 45px;
  line-height: 15px;	
}

form .tooltip.error:after {
  border-top-color: #F7E9E9;
}
form .tooltip.error:before {
  border-top-color: #F4CCDF;
}
form .tooltip.error.top {
  margin-top: -4px;
}
form .tooltip.error .tooltip-inner {
  border: 1px solid #F4CCDF;
  color: #C4136C;
  background-color: #F7E9E9;
  padding: 3px 15px;
  font-size: 12px;
}
form .tooltip.error .tooltip-inner .tooltip-body-error .title {
  font-family: arial;
  color: #C4136C;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25em;
  margin-bottom: 4px;
  padding: 0;
  width: 100%;
}
form .tooltip.error .tooltip-inner .tooltip-body-error span {
  font-family: arial;
  line-height: 1.667em;
  color: #C4136C;
  font-weight: normal;
  padding: 0;
  width: 100%;
}
form .tooltip.error .tooltip.error:after {
  border-top-color: #F7E9E9;
}
form .tooltip.error .tooltip.error:before {
  border-top-color: #F4CCDF;
}

tr.selected {
	background-color: #a2aec7 !important;
}

td.font-bold{
	font-weight: bold !important;
}

form .tooltip.error .tooltip-arrow {
/*   display: none; */
	border-top-color:#c66161;
/* 	background-color:#f4ccdf; */
}

input[type="text"].form-control.tooltip-validation-invalid,
input[type="email"].form-control.tooltip-validation-invalid,
input[type="password"].form-control.tooltip-validation-invalid,
input[type="search"].form-control.tooltip-validation-invalid {
	background: #F7E9E9;
    border: 1px solid #ff0000;
}

select.tooltip-validation-invalid,
textarea.tooltip-validation-invalid {
	background: #F7E9E9;
    border: 1px solid #ff0000;
}

.icon-24 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(img/sprite-black-x24.png) no-repeat top left;
  vertical-align: middle;
  margin-top: 0;
}
.icon-24.blue {
  background-image: url(img/sprite-blue-x24.png);
}
.icon-24.red {
  background-image: url(img/sprite-red-x24.png);
}
.icon-24.white {
  background-image: url(img/sprite-white-x24.png);
}
.icon-24.green {
  background-image: url(img/sprite-green-x24.png);
}
.icon-24.gray {
  background-image: url(img/sprite-gray-x24.png);
}

.m03-aviso.icon-24 {
  background-position: -518px -1924px;
}

.seccion-advertencia.iconizado-24 .icon-24,
.seccion-error.iconizado-24 .icon-24,
.seccion-exito.iconizado-24 .icon-24{
	float: left;
    margin-left: -30px;
    margin-top: -5px;
}

.input-append,
.input-prepend{
	position: relative;
}

/* [class*=col-md]:last-child .input-append .add-on{ */
/* 	right:0px !important; */
/* } */

.input-append .add-on, 
.input-prepend .add-on{
	top:0px !important;	
	right:0px !important;
}

.header-layouts li.color-1,
.footer-user li.color-1 {
	background:#02428c;
	}	
	

.header-layouts li.color-2,
.footer-user li.color-2 {
	background:#0051a3;
	}	


.header-layouts li.color-3,
.footer-user li.color-3 {
	background:#007dc7;
	}	
	

.header-layouts li.color-4,
.footer-user li.color-4 {
	background:#1799da;
	}	
	

.header-layouts li.color-5,
.footer-user li.color-5 {
	background:#61c2f0;
	}	
	

.header-layouts li.color-6,
.footer-user li.color-6 {
	background:#9dd7f6;
	}