<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Login">
<meta name="author" content="CMC">
<link rel="icon" href="../../favicon.ico">

<title>BKP - Login</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/general-sfp.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/personalizar.css">
<link rel="stylesheet" type="text/css" href="css/sweetalert.css">

</head>

<body>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<div class="search-box">
					<div class="caption">
						<h3>Sistema de Backup</h3>
						<p>Ingreso a BKP</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-app="login">
		<div class="container" data-ng-controller="LoginControlador">
			<div class="row centered-form center-block">
				<div class="container col-md-4 col-md-offset-4">

					<div class="form-group">
						<input id="user" type="text" class="form-control"
							placeholder="Usuario" data-ng-model="userBean.user" required
							autofocus> <br> <input id="password" type="password"
							class="form-control" placeholder="Password"
							data-ng-model="userBean.password" required>
					</div>

					<button id="submit" type="submit" data-ng-click="btnLogin()"
						class="btn btn-lg btn-primary btn-block">
						Entrar <i class="glyphicon glyphicon-log-in"></i>
					</button>

				</div>
				<!-- /container -->
			</div>
		</div>
	</div>
	<br>
	<footer class="footer">
		<div class="container">
			<p class="text-muted text-center">BKP 1.0 - CMC</p>
		</div>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-touch.min.js"></script>
	<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="js/aplicacion.js"></script>
	<script src="js/sweetalert.min.js"></script>
	<script src="js/bootstrap-switch.js"></script>
	<script src="js/ng-table.min.js"></script>
	<script src="js/controladorLogin.js"></script>
	<script src="js/angular-cookies.js"></script>

</body>
</html>