<meta charset="UTF-8">
<div class="modal-header modal-header">
	<h3 class="modal-title text-center" style="color:#fff"> Programar Ejecución: </h3>
	<h4 class="text-center" style="color:#fff"><strong>{{cronEdit.descripcion}}</strong></h4>
</div>
<div class="modal-body">
	
	<cron-selection ng-model="cronEdit.expresion" config="myConfig"></cron-selection>
	<hr>
	<div class="form-group">
		<h2 class="h4">Estado de Programación</h2>
		<input type="checkbox" name="estado" data-on-text="Activo" data-off-text="Inactivo"
		data-on-color="primary" data-off-color="danger">
	</div>
	
</div>

<div class="modal-footer">
	<button type="button" data-ng-click="btnEdit()" class="btn btn-primary btn-ttc">Actualizar</button>
	<button type="button" data-ng-click="cancel()"
		class="btn btn-secondary btn-ttc-fucsia">Cerrar</button>
</div>
