<meta charset="UTF-8">
<div id="myModal">
	<div class="modal-header modal-header">
		<h3 class="modal-title text-center" style="color:#fff">Actualizar Proveedor</h3>
	</div>

	<div class="modal-body">
	
	    <div class="form-group">
	  <label for="inputdefault">Código Proveedor</label>
	  <input class="form-control" id="inputdefault" type="text" id="txtCodigo" 
	   		 autofocus disabled ng-model="editPathDTO.key">
	</div>
	
    <div class="form-group">
	  <label for="inputdefault">Ruta de Archivo</label>
	  <input class="form-control" id="inputdefault" type="text" id="txtRuta" 
	  placeholder="Ingrese una ruta de archivo" ng-model="editPathDTO.value" autofocus>{{data.numero}}
	</div>

  </div>

	<div class="modal-footer">
		<button type="button" data-ng-click="btnEdit()"
			class="btn btn-primary btn-ttc">Aceptar</button>
		<button type="button" data-ng-click="cancel()"
			class="btn btn-secondary btn-ttc-fucsia">Cerrar</button>
	</div>
</div>