<meta charset="UTF-8">
<div id="myModal">
	<div class="modal-header modal-header">
		<h3 class="modal-title text-center" style="color:#fff">Agregar Nuevo Proveedor</h3>
	</div>

	<div class="modal-body">
	
	   	<div class="form-group">
		  <label for="inputdefault">Código Proveedor</label>
		  <input class="form-control" type="text" 
		  		data-ng-model="folderDTO.llave" maxlength="12"
		  		placeholder="Ingrese un código de proveedor ejm 'PROV_XXXXXXX'" autofocus required>
		</div>
	
    <div class="form-group">
	  <label for="inputdefault">Ruta de Archivo</label>
	  <input class="form-control" type="text" data-ng-model="folderDTO.valor" 
	  placeholder="Ingrese una ruta" required>
	</div>

  </div>

	<div class="modal-footer">
		<button type="button" data-ng-click="btnCreate()" class="btn btn-primary btn-ttc">Agregar</button>
		<button type="button" data-ng-click="cancel()" class="btn btn-secondary btn-ttc-fucsia">Cerrar</button>
	</div>
</div>